.container{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    max-width: 300px;
    margin: auto;
    flex-direction: row;
    padding: 20px;
    border-radius: 10px;
    border: solid black 2px;
}

body{
    background-image: url(../img/back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 20%;
    
}

input,button{
    border: solid black 2px;
    width: 100%;
    display: block;
    padding: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
}

